@media screen and (max-width: 1640px) {
    header .inner {
        padding: 20px;
    }

    .inner {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1440px) {
    .mob-nav-btn {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }

    .mob-nav-btn span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: all .3s;
    }

    .mob-nav-btn span:nth-child(1) {
        top: 0;
    }
    .mob-nav-btn span:nth-child(2) {
        top: 48%;
    }
    .mob-nav-btn span:nth-child(3) {
        top: 100%;
    }

    .nav-list {
        position: fixed;
        top: 70px;
        right: -100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgba(0, 0, 0, 0.589);
        padding: 10px 20px 20px;
        transition: right 0.3s;
    }
    
    body.mob-nav-open .nav-list {
        right: 0;
    }

    .nav-list li + li {
        border-top: 1px solid rgba(255, 255, 255, 0.699);
    }

    .nav-list li a {
        padding-top: 10px;
    }

    body.mob-nav-open .mob-nav-btn span:nth-child(1) {
        transform: rotate(45deg);
        top: 48%;
    }
    body.mob-nav-open .mob-nav-btn span:nth-child(3) {
        transform: rotate(-45deg);
        top: 48%;
    }
    body.mob-nav-open .mob-nav-btn span:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
    }

    .sec-2-list {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .sec-2-list {
        justify-content: center;
    }

    .sec-3 .tit-wrap {
        width: 100%;
        min-height: 100vh;
        background: url(../img/sec-3bg.png) no-repeat center/cover;
    }

    .sec-3 .img-wrap{
        display: none;
    }
}