@media screen and (max-width: 1640px) {
    header .inner {
        padding: 20px;
    }

    .inner {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1440px) {
    .mob-nav-btn {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }

    .mob-nav-btn span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: all .3s;
    }

    .mob-nav-btn span:nth-child(1) {
        top: 0;
    }
    .mob-nav-btn span:nth-child(2) {
        top: 48%;
    }
    .mob-nav-btn span:nth-child(3) {
        top: 100%;
    }

    .nav-list {
        position: fixed;
        top: 70px;
        right: -100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgba(0, 0, 0, 0.589);
        padding: 10px 20px 20px;
        transition: right 0.3s;
    }
    
    body.mob-nav-open .nav-list {
        right: 0;
    }

    .nav-list li + li {
        border-top: 1px solid rgba(255, 255, 255, 0.699);
    }

    .nav-list li a {
        padding-top: 10px;
    }

    body.mob-nav-open .mob-nav-btn span:nth-child(1) {
        transform: rotate(45deg);
        top: 48%;
    }
    body.mob-nav-open .mob-nav-btn span:nth-child(3) {
        transform: rotate(-45deg);
        top: 48%;
    }
    body.mob-nav-open .mob-nav-btn span:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
    }

    .sec-2-list {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .sec-2-list {
        justify-content: center;
    }

    .sec-3 .tit-wrap {
        width: 100%;
        height: 50%;
        z-index: 10;
        top: 25%;
    }

    .sec-3 .img-wrap{
        width: 100%;
        height: 50%;
        bottom: 0;
    }

    .sec-4-list {
        flex-wrap: wrap;
        margin-top: 90px;
    }

    .sec-4-list li {
        width: 42%;
    }

    .sec-4-list li:nth-child(even) a {
        margin-top: -30px;
    }

    .sec-5-content-wrap .menu {
        border-radius: 0;
        overflow: hidden;
    }

    .sec-5-content-wrap .menu li {
        width: 48%;
    }

    .sec-5-content-wrap .menu li a {
        min-width: 0;
        border-radius: 20px;
        font-size: 0;
        width: 50px;
        height: 20px;
    }

    footer .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

}

@media (max-width:599px) {
    .sec-1 .gallery .swiper-button-prev,
    .sec-1 .gallery .swiper-button-next {
        display: none;
    }

    .sec-3 .img-wrap .slide-sec-3 .swiper-slide a {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sec-4 .inner .tit-wrap a.btn {
        position: static;
        transform: translateY(0);
        margin-top: 30px;
    }

    .sec-4-list li {
        width: 80%;
        max-width: 400px;

    }

    .sec-4-list li:nth-child(even) a {
        margin-top: 0;
    }
}